<!DOCTYPE html>
<html class="body-full-height">
<meta charset="UTF-8">
<head>
    <title>供应宝-全球顶尖供应链协同管理平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" id="theme" href="../css/theme-default.css"/>
</head>
<body>
<div class="login-container">
    <div class="login-box animated fadeInDown">
        <div class="login-logo"></div>
        <div class="login-body">
            <div class="login-title"><strong>欢迎</strong>, 请您登录</div>
            <form action="index.html" class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="用户名"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="password" class="form-control" placeholder="密码"/>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-link btn-block " style="margin-left: -50px">忘记密码?</a>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-info btn-block">登录</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="login-footer">
            <div class="pull-left">
                &copy; 2017 供应宝
            </div>
            <div class="pull-right">
                <a href="#">关于</a> |
                <a href="#">隐私</a> |
                <a href="#">联系我们</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>






